/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.idea
*.o
*.so
tmp/*
log/*
tmp/*/*
images_to_consider/*
!tmp/.gitkeep
*.swp
*.swo
*.swn
~*
*.log
*.tmp
*.pid
.vagrant
.DS_Store

.com.apple.timemachine.supported
.rvmrc
atlassian-ide-plugin.xml
.bundle
sqlnet.log
.sass-cache
test-artifacts/*
coverage
coverage/.resultset.json
coverage/.last_run.json
erd.pdf
test-reports
.vagrant
node_modules
public/client/*
